@import url('reset.css');

body {
    background-color: black;
}

.banner {
    height: 605px;
    border-bottom: 1px solid #33A8DB;
    background-image: linear-gradient(rgba(0, 0, 0, 0.097), #3a578842, rgba(0, 0, 0, 0.219)), url('../images/banner.png');
    text-align: center;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    height: 500px;
    width: 510px;
    margin: auto;
}

.banner-content h1 {
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    font-size: 40px;
    margin: 16px;
    font-weight: 900;
    line-height: 46px;

}

.banner-content p {
    color: white;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.banner-content button {
    color: #31A8DD;
    text-transform: uppercase;
    padding: 19px 46px;
    font-size: 1rem;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 1;
}

#course-content {
    padding: 100px;
    text-align: center;
    height: 533px;
}

#course-content h2 {
    color: #33A8DB;
    font-size: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

#course-content p {
    margin: auto;
    width: 792px;
    color: white;
    font-size: 16px;
    padding: 24px 0 24px 0;
}

#course-content .modules-list .module {
    width: 535px;
    height: 51px;
    margin: auto;
    padding-top: 15px;
    margin-bottom: 24px;
    color: white;
    border: 1px solid #33A8DB;
    background-color: #252525;
    border-radius: 57px;
    box-shadow: inset 0px 0px 20px black;
}

#course-content .modules-list .module span {
    color: #33A8DB;
}

#transform-world {
    background-image: url('../images/woman-code.png');
    background-attachment: fixed;
    background-size: cover;
    height: 363px;
    border-top:  1px solid #33A8DB;
    border-bottom:  1px solid #33A8DB;
}

#transform-world p {
    text-transform: lowercase;
    width: 244px;
    height: 141px;
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-top: 90px;
    margin-left: 198px;
    text-shadow: #33A8DB 3px 2px;
}

#professional-challenges {
    padding: 76px;
    height: 820px;
    text-align: center;
}

#professional-challenges h2 {
    margin: auto;
    text-transform: uppercase;
    color: #33A8DB;
    width: 746px;
    height: 76px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 4px;
}

#professional-challenges p {
    margin: auto;
    width: 792px;
    height: 76px;
    font-size: 16px;   
    color: white;
    font-weight: 400;
}

#professional-challenges img {
    padding: 35px;
}

footer {
    padding: 30px;
    border-top: 1px solid #33A8DB;
    height: 150px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

footer a {
    color: #33A8DB;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

